.aboutContainer {
  margin-top: 10vw;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 17vw;
}

.titleContainer {
  width: 40vw;
  font-size: 2.5vw;
  /* background-color: aqua; */
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.title {
  text-align: center;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1vw;
  padding: 3vw;
}

.text {
  margin: 1.5vw;
  font-size: 1.5vw;
  font-family: Arial, Helvetica, sans-serif;
}

.socialLinksContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5vw;
  width: 100%;
padding-right:6vw ;  }


.socialLinksContainer:first-child{
text-decoration: none;
}

.linkedIn>svg{
text-decoration: none;

}


@media only screen and (max-width: 600px) {
  .aboutContainer {
    margin-top: 20vw;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 10vw;
  }

  .titleContainer {
    width: 60vw;
    font-size: 7vw;
    /* background-color: aqua; */
    font-weight: 500;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  .title {
    text-align: center;
  }

  .descriptionContainer {
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    padding: 3vw;
  }

  .text {
    margin-top: 5vw;
    font-size: 4.5vw;
    font-family: Arial, Helvetica, sans-serif;
  }

  .socialLinksContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5vw;
    width: 100%;
padding-right:6vw ;  }
}

.socialLinksContainer:first-child{
  text-decoration: none;
}

.linkedIn>svg{
  text-decoration: none;
  
}
