.container{
    margin: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokeCards {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    margin: 2vmax auto;
    justify-content: center;
}
