.drawerContainer {
  height: 40vh;
  text-align: center;
  background-color: linear-gradient(
    rgba(39, 148, 203, 0.8),
    rgba(39, 148, 203, 0)
  );
}

.drawerContainer1 {
  display: flex;
  flex-direction: column;
}

.drawerContainer1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 40vh;
  height: 40vh;
  margin: 30px auto;
  color: black;
}

.upcomingEvolutionsTitle {
  font-size: 6vh;
  color: rgba(0, 0, 0, 0.852);
}

.underLine {
  width: 30vw;
  border: 0.5px solid rgba(0, 0, 0, 0.7);
}

.pokemonEvolveContainer {
  display: flex;
  flex-direction: column;
}

.evolutionMap {
  display: flex;
  flex-direction: row;
}

.pokemonEvolveContainer {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.pokemonEvolvename {
  font-size: 4vh;
  font-weight: 600;
}

.indexNo {
  font-size: 2vh;
  font-style: italic;
}

.mainDrawer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.evolutionBtn {
  font-size: 5vh;
  width: fit-content;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 5vw;
  margin-right: 9vw;
  transition: all 0.3s;
  color: rgba(0, 0, 0, 0.8);
}

.evolutionBtn:hover {
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.7);
  transform: scale(1.01);
  color: rgba(0, 0, 0, 1);
}

/* .evolveImage{
    width: 30vw;
    height: 20vh;
  } */

@media screen and (max-width: 600px) {
  .drawerContainer {
    height: 50vh;
    text-align: center;
    background-color: linear-gradient(
      rgba(39, 148, 203, 0.8),
      rgba(39, 148, 203, 0)
    );
  }

  .drawerContainer1 {
    display: flex;
    flex-direction: column;
  }

  .drawerContainer1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .arrow {
    width: 40vh;
    height: 40vh;
    margin: 30px auto;
    color: black;
  }

  .upcomingEvolutionsTitle {
    font-size: 8vw;
    color: rgba(0, 0, 0, 0.952);
  }

  .underLine {
    width: 30vw;
    border: 0.5px solid rgba(0, 0, 0, 0.7);
  }

  .pokemonEvolveContainer {
    display: flex;
    flex-direction: column;
  }

  .evolutionMap {
    display: flex;
    flex-direction: column;
  }

  .pokemonEvolveContainer {
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
  }

  .pokemonEvolvename {
    font-size: 4vh;
    font-weight: 600;
  }

  .indexNo {
    font-size: 2vh;
    font-style: italic;
  }

  .mainDrawer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .evolutionBtn {
    font-size: 5vh;
    width: fit-content;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 5vw;
    margin-right: 9vw;
    transition: all 0.3s;
    color: rgba(0, 0, 0, 0.8);
  }

  .evolutionBtn:hover {
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.7);
    transform: scale(1.01);
    color: rgba(0, 0, 0, 1);
  }

  /* .evolveImage{
        width: 30vw;
        height: 20vh;
      } */
}
