.container {
  width: 15vw;
  height: 40vh;
  margin: 3vh;
  display: flex;
  flex-direction: column;
  border-radius: 1vh;
  box-shadow: 1vh;
  transition: all 0.3s ease-in-out;
}
.linktag {
  text-decoration: none;
  color: rgba(15, 15, 15, 1);
}

.container:hover {
  border: solid 0.1px rgba(0, 0, 0, 0.8);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(15, 15, 15, 1);

  transform: translateY(-1vmax);
}

.container:hover .name {
  color: tomato;
  font-weight: 400;
  transform: scale(1.01);
}

.imageContainer {
  padding: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer:first-child {
  width: 14vw;
  height: 25vh;

  /* background-color: chocolate; */
}

.description {
  display: flex;
  flex-direction: column;
}

.type {
  display: flex;
  flex-direction: row;
}

.serialNo {
  font-size: 2vh;
  margin: 0.1vh;
  padding-left: 0.5vh;
  color: rgba(0, 0, 0, 0.8);
}
.name {
  font-size: 3.5vh;
  font-weight: 300;
  margin: 1vw;
  cursor: pointer;
  transition: all 0.3s;
}

.type > div {
  width: 4vw;
  text-align: center;
  padding-left: 1vh;
  padding-right: 1vh;
  font-size: 2vh;
  font-weight: 500;
  margin-left: 1vw;
  background-color: cadetblue;
  border: none;
  border-radius: 1vh;
}

@media screen and (max-width: 600px) {
  .container {
    width: 60vw;
    height: 40vh;
    margin: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: none;
  }
  .linktag {
    text-decoration: none;
    color: rgba(15, 15, 15, 1);
  }

  .imageContainer {
    /* padding: ; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imageContainer:first-child {
    width: 25vw;
    height: 25vh;

    /* background-color: chocolate; */
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    }

  .type {
    display: flex;
    flex-direction: row;
  }

  .serialNo {
    margin: 0.1vh;
    /* padding-left: 0.5vh; */
    color: rgba(0, 0, 0, 0.8);
    font-size: 6vw;
  }
  .name {
    font-size: 3.5vh;
    font-weight: 300;
    margin: 1vw;
    cursor: pointer;
    transition: all 0.3s;
  }

  .type > div {
    width: fit-content;
    text-align: center;
    padding-left: 1.2vh;
    padding-right: 1.2vh;
    font-size: 2vh;
    font-weight: 500;
    margin-left: 1vw;
    background-color: rgba(144, 179, 231, 0.425);
    border: none;
    border-radius: 1vh;
  }
}
